<div class="mainContainer">

  <div id="allinone_bannerRotator_classic" style="display:none;">
    <!-- IMAGES -->
    <ul class="allinone_bannerRotator_list">
      <li *ngFor="let item of images; let i = index;" [attr.data-bottom-thumb]="item.img" [attr.data-text-id]="'#content_ss_'+i"><img [src]="item.img" alt="" /></li>
    </ul>

    <!--<div [id]="'content_ss_' + i" class="allinone_bannerRotator_texts" *ngFor="let item of images; let i = index;">     
      <div class="content-link" data-initial-top="440" data-final-top="440" data-duration="0.6" data-fade-start="0" data-delay="0.2">
        <a class="link_btn" href="#">{{item.title}}</a>
      </div>
    </div>-->
    


</div>



</div>